<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto Final</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>
                Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipoclientes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                Tipos de Cliente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="intereses">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                Intereses
            </NavLink>
        </div>
    </nav>
</div>

